.men-container {
    width: 100%;
    min-height: 100vh;
}

.menBanner {
    width: 100%;
    height: 60vh;
    background-image: url('https://img.freepik.com/free-photo/middle-eastern-entrepreneur-wear-blue-shirt-eyeglasses-against-steel-wall-show-prohibition-sign_627829-13653.jpg?w=996&t=st=1672879502~exp=1672880102~hmac=7532548aae49921059dee8937ac9ec0eb8c1366c6bf6ae13af23b3271918fe68');
    background-repeat: no-repeat;
    background-size: cover;
}